* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Arial', sans-serif;
}

#wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 640px;
  background-color: white;
}

#sidebar {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
}

#sidebar h3 {
  text-align: center;
  margin-top: 1rem;
}

#sidebar-contents {
  flex-grow: 1;
  margin: 1rem;
  line-height: 1.5rem;
}

#sidebar-contents ul {
  list-style-type: none;
}

#sidebar-btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0.4rem;
}

button {
  padding: 0.4rem 0.6rem;
  font-size: 100%;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: #225;
  cursor: pointer;
}

button:disabled {
  color: #778;
  background-color: #225;
  cursor: not-allowed;
}

#canvas {
  background: white;
  border-left: 1px solid black;
  width: 960px;
  height: 640px;
}

#images img {
  display: none;
}